services:
  web-server:
    image: "web"
    restart: "unless-stopped"
    ports:
      # Gibt port f체r alle anderen Ger채te im Netzwerk frei.
      - "8001:8000"
      # Nur auf dem lokalen system erreichbar.
      - "127.0.0.1:8000:8000"
    networks:
      - backend
    # Starte nachdem der cache l채uft
    depends_on:
      cache:
        condition: service_started
      db:
        condition: service_started

  cache:
    image: "redis:alpine"
    restart: "unless-stopped"
    networks:
      - backend
    depends_on:
      db:
        condition: service_started

  db:
    image: "postgres:alpine"
    restart: "unless-stopped"
    shm_size: 128mb
    networks:
      - backend
    environment:
      POSTGRES_PASSWORD: "password"

# Netzwerke m체ssen deklariert werden
networks:
  backend:
