services:
  web-server:
    image: "web"
    restart: "unless-stopped"
    ports:
      # Gibt port f체r alle anderen Ger채te im Netzwerk frei.
      - "8001:8000"
      # Nur auf dem lokalen system erreichbar.
      - "127.0.0.1:8000:8000"
    volumes:
      - "./container_data:/usr/local/app/data"
    networks:
      - backend
    # Starte nachdem der cache l채uft
    depends_on:
      cache:
        condition: service_started

  cache:
    image: "redis:alpine"
    restart: "unless-stopped"
    networks:
      - backend

# Netzwerke m체ssen deklariert werden
networks:
  backend:
